ul {
  list-style-type: none;
  font-weight: bolder;
}

hr {
  margin: 0;
}

.mini-container {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
  max-width: 850px;
  max-height: auto;
  border: 1px #c0c0c0;
  border-radius: 40px;
  border-style: groove;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/073/515/original/bakcground_nature_2.jpg?1679739092");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.circle {
  color: black;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  height: 425px;
  border: 5px;
  border-radius: 100%;
  border-style: dashed solid;
  border-color: #16a49a;
  background-clip: padding-box;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/073/517/original/nature_mountain.jpg?1679740250");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-circle {
  display: block;
  text-align: center;
  width: 80%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bolder;
}

.temp {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
}

.temp-now {
  font-size: 50px;
}

.fahrenheit {
  font-size: 40px;
}

.temp-feels {
  font-size: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.ul-temp-pressure {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.min-temp {
  display: inline;
  text-align: center;
}

.ul-center-img {
  display: block;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  padding: 0;
  margin-bottom: 0;
}

.ul-temp-visibility {
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.ul-wind-humidity {
  text-align: center;
  padding: 0;
  border-width: 10px;
}

.pressure {
  text-align: center;
}

.img-forecast {
  margin: 0 auto;
  width: 90px;
}

.sign {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: #c0c0c0;
}

.link-code {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkgrey;
}

.temp-day-max {
  font-size: 20px;
  font-weight: bolder;
}

.temp-day-min {
  font-size: 20px;
  font-weight: bolder;
}

.btn-secondary {
  font-size: 20px;
}

#row-form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#date-city-hour {
  display: flex;
  align-content: flex-start;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

#date-hour {
  display: block;
  margin-left: 10px;
  padding: 0;
  margin: 0;
}

#only-city {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  padding: 0;
  margin: 0;
}

#link-celsius {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#link-fahrenheit {
  color: white;
  text-decoration: none;
}

#link-celsius:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#link-fahrenheit:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#link-celsius.active {
  color: white;
  cursor: default;
  text-decoration: none;
}

#link-fahrenheit.active {
  color: white;
  cursor: default;
  text-decoration: none;
}

#middle-row {
  margin-top: 20px;
  padding: 13px;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
  border-radius: 30px;
}

#description {
  margin-bottom: 0;
}

#wind-humidity-row {
  font-size: 25px;
}

#wind-humidity-row {
  margin-top: 5px;
}

#image-temp-now {
}

#description {
  display: inline;
}
#description::first-letter {
  text-transform: capitalize;
}

#days {
  display: flex;
  margin: 0 auto;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}

#col-days {
  font-size: 15px;
  margin: 0;
  margin-top: 10px;
  padding: 5px;
  max-width: 100px;
  border: 3px solid black;
  border-radius: 5px;
  max-width: auto;
  border-top-width: 13px;
}
#ul-days {
  display: block;
  text-align: center;
  padding: 0;
}

#li-days {
  display: block;
  text-align: center;
  line-height: 50px;
}

#li-day {
  font-size: 38px;
  font-weight: bolder;
}

#city-input {
  font-size: 20px;
}
