ul {
  list-style-type: none;
  font-weight: bolder;
}

hr {
  margin: 0;
}

.mini-container {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  max-width: 800px;
  border: 3px black;
  border-style: groove;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/072/905/original/abstract_background.jpg?1679414586");
  background-size: cover;
}

.circle {
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  border: 5px;
  border-radius: 100%;
  border-style: dashed solid;
  border-color: #16a49a;
  background-clip: padding-box;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/072/904/original/background_weather.jpg?1679414204");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-circle {
  display: block;
  text-align: center;
  width: 80%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bolder;
}

#row-form {
  display: flex;
  justify-content: center;
}

.date-city-hour {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
}

.temp {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
}

.temp-now {
  font-size: 40px;
}

#link-celsius {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#link-fahrenheit {
  color: white;
  text-decoration: none;
}

#link-celsius:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#link-fahrenheit:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#link-celsius.active {
  color: white;
  cursor: default;
  text-decoration: none;
}

#link-fahrenheit.active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.fahrenheit {
  font-size: 30px;
}

.temp-feels {
  font-size: 15px;
}

.row {
  display: flex;
  justify-content: center;
}

#middle-row {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
  border-radius: 30px;
}

.ul-temp-pressure {
  text-align: center;
  padding: 0;
  line-height: 30px;
}

.ul-center-img {
  display: block;
  text-align: center;
  padding: 0;
  line-height: 30px;
}

#image-temp-now {
}

#description {
}

.ul-temp-visibility {
  text-align: center;
  padding: 0;
  line-height: 30px;
}

#wind-humidity-row {
}

.ul-wind-humidity {
  text-align: center;
  padding: 0;
  border-width: 10px;
}

.min-temp {
  display: inline;
  text-align: center;
}

.pressure {
  text-align: center;
}

#wind-humidity-row {
  margin-top: 5px;
}

#image-temp-now {
}

#description {
  display: inline;
}
#description::first-letter {
  text-transform: capitalize;
}

#days {
  display: flex;
  margin: 0 auto;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#col-days {
  margin: 0;
  padding: 10px;
  max-width: 110px;
  border: 3px solid white;
  border-radius: 5px;
  max-width: auto;
  border-top-width: 10px;
}
#ul-days {
  display: block;
  text-align: center;
  padding: 0;
}

#li-days {
  display: block;
  text-align: center;
  line-height: 50px;
}

.img-forecast {
  margin: 0 auto;
  width: 60px;
}

.temp-day-min {
}

.sign {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: #c0c0c0;
}

.link-code {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkgrey;
}
